body {
    background-color: #cdd9e5; /* Θέτει το χρώμα φόντου του σώματος */
    font-family: sans-serif;
}
/* ----------------- NAVIGATION MENU------------------------ */
 
.nav-link { 
    font-weight: bolder; /* Κάνει το κείμενο του μενού έντονο */
    margin-right: 40px;
}

/* ---------------logo---------------- */

.header-content {
    text-align: left; /* στοιχίζει αριστερά το κέιμενο στο λογότυπο */
    padding: 10px;
    border-radius: 10px; /* Στρογγυλεμένες γωνίες για το πλαίσιο */
}

.logo {
    width: 100px; /* Προσαρμόστε το μέγεθος του λογοτύπου */
    height: auto;
    border-radius: 50px; /* Στρογγυλεμένες γωνίες για το λογότυπο */
    margin-bottom: 10px; /*Προσθέτει ένα κενό 10 pixel κάτω από το στοιχείο */
}

.header h1 {
    font-family: cursive; /* θα χρησιμοποιεί τη γραμματοσειρά cursive, δηλαδή μια καλλιγραφική γραμματοσειρά */
    font-size: 3rem; /* Ορίζει το μέγεθος της γραμματοσειράς σε 3 rem */
    margin-bottom: 10px; /*Προσθέτει ένα κενό 10 pixel κάτω από το στοιχείο */
}

.header h5 {
    font-size: 1.5rem;
}



/* -----------------Κάρτες προϊόντων------------------------- */

.card {
    border: 1px solid #dee2e6; /* Ανοιχτό γκρι περίγραμμα */
    transition: transform 0.3s ease; /* Για το hover effect */
    overflow: hidden; /* Για να κρύβονται οι εικόνες που είναι μεγαλύτερες */
    display: flex;
    flex-direction: column;
    height: 100%; /* Όλες οι κάρτες να έχουν το ίδιο ύψος */
}

.card img {
    object-fit: cover; /* Οι εικόνες να καλύπτουν όλη την περιοχή */
    height: 200px; /* Ύψος εικόνας */
    width: 100%; /* Πλάτος εικόνας */
}

.card-body {
    flex-grow: 1; /* Το card-body να μεγαλώνει για να γεμίσει το κενό */
}

.card:hover {
    transform: scale(1.05); /* Ελαφρύ zoom στο hover */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Ελαφριά σκιά στο hover */
}


/* ----------------Κουμπιά φίλτρων--------------- */
.filter-btn {
    transition: background-color 0.3s ease, color 0.3s ease; /* Για το hover effect */
}

.filter-btn:hover {
    background-color: #0d6efd; /* Μπλε στο hover */
    color: white;
}


/* -----------------Footer-------------------------- */
footer {
    background-color: #343a40; /* Σκούρο γκρι */
}